*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 4096px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    text-align: center;
    background: rgb(174,238,238);
background: linear-gradient(90deg, rgba(174,238,238,1) 0%, rgba(148,187,233,1) 100%);
}
progress {
    display: none;
}